.employee-experience {
  background-image: url('./assets/images/employee-experience/employee-experience1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
