// TODO: zoom into bg image and center if needed

header {
  height: 100vh;
  background: transparent url(./assets/images/bg-noise.png) repeat top left;

  .banner-video {
    height: 100%;
    overflow: hidden;
    iframe {
      height: 100%;
      overflow: hidden;
    }
  }
  h1 {
    margin: 0;
    padding: 15px 0 0 0;
    text-align: center;
    background-color: $transparent-gray-bg;
    color: $white;
    position: absolute;
    width: 100%;
    bottom: 90px;
    text-transform: uppercase;
    line-height: 1.1;
    span {
      display: block;
      margin-bottom: 15px;
      color: $white;
      font-size: 2.8rem;
      letter-spacing: 2px;

      // &:first-child, &:last-child {
      //   font-weight: 100;
      // }
      &:nth-of-type(1) {
        font-weight: 500
      }
      &:last-child {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: 100
      }
    }
      hr {
      margin: 0 auto 15px;
      width: 50%;
      background-color: $white;
    }
  }
  nav {
    background-color: $transparent-black-bg;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        color: $white;
        text-align: center;
        padding: 0 16px;
        margin: 0;
        &:hover {
          color: $red;
          cursor: pointer;
        }
      }
    }
    img {
      width: 280px;
      margin-right: 20px;
    }
  }

  // TODO: Create mixin for this
  @media (max-aspect-ratio: 16/9) {
    .banner-video{
      width: 100%;
      overflow: hidden;
    }

    iframe{
      width: calc((100vh*16)/9);
      height: 100vh;
      }
  }
}
