.text-overlay-container {
  position: relative;
  width: 50vw;
  margin: 0 auto;
  padding: 30px;
  background-color: $text-overlay-bg;
  max-height: 700px;
  overflow: auto;
  font-weight: 700;
  text-align: justify;
  line-height: 1.7;
  .section-heading-container {
    padding: 0 0 10px
  }
  p {
    font-size: 1.1rem;
  }
}
